<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WenZhai</display-name>
  <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>D_Login.jsp</welcome-file>
  </welcome-file-list>
  
  
  
   <servlet>
    <description>This is the signature of weixin</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sadden.wenzhai.servlet.WeixinSignatureIdendtified</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/signature</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TagSearchServlet</servlet-name>
    <servlet-class>sadden.wenzhai.servlet.SearchTag_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagSearchServlet</servlet-name>
    <url-pattern>/servlet/search_tag</url-pattern>
  </servlet-mapping>
  
</web-app>