/*一般*/
/*body*/
body{
	color: #101010;;
}

/*main*/
.main{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 1100px;
}

/*<a>*/
a{
	cursor:pointer;
}
a:link{
	color: #101010;
	text-decoration:none;
}
a:visited{
	color: #101010;
	text-decoration:none;
}
a:active{
	color: #101010;
	background-color: #D3D3D3;
}
a:hover{
	color: #101010;
	text-decoration:underline;
}

/*按钮*/
button,input[type="submit"]{
	border: 1.5px solid #A0A0A0;
	background-color: #FFFFFF;
	cursor:pointer;
}
button:hover,input[type="submit"]:hover{
	background-color: #D3D3D3;
}
button:active,input[type="submit"]:active{
	background-color: #A0A0A0;
}

/*特殊*/
/*header*/
.header{
	text-align:right;
	padding: 1em;
	border-bottom: 2px solid #D3D3D3;
	margin-bottom: 1.5em;
}
.header>*{
	display: inline;
	padding: 1em 1.5em;
	border-left: 1px solid #D3D3D3;
}

/*search_bar*/
.search_bar{
	text-align:center;
	padding: 1em;
	margin-bottom: 1.5em;
}
.search_bar input{
	height: 2.5em;
	vertical-align:middle;
}
.search_bar input[type="text"]{
	width: 35%;
}
.search_bar input[type="submit"]{
	height: 2.5em;
	width: 5%;
	min-width: 3em;
	font-size: 1em;
	margin-left: 0.5em;
}

/*分类*/
.type{
	text-align: center;
	margin: 2em;
}
.type a{
	display: inline-block;
	margin: 0.25em auto;
}
.type button{
	width: 12vw;
	min-width: 6em;
	height: 12vw;
	min-height: 6em;
	padding: 0;
	font-size: 1.2em;
}

/*base_form*/
.base_form{
	width: 70%;
	font-size: 1.2em;
	padding: 2em;
	border: 3px solid #D3D3D3;
	margin: 3em 2em;
}
.base_form *{
	vertical-align:middle;
}
.base_form input,select{
	font-size: 1em;
	width: 30%;
	min-width: 7em;
	height: 1.5em;
}
.base_form input[type="submit"]{
	font-size: 1em;
	width: 4em;
	height: 2em;
	margin-left: 3em;
}
.base_form textarea{
	font-size: 1em;
	width: 70%;
	height: 15em;
}
.base_form img{
	width: 8em;
	margin: 0.5em;
}

/*select_tab*/
.select_tab{
	padding: 0.5em;
	border-bottom: 2px solid #D3D3D3;
	margin-bottom: 1em;
}
.select_tab>a{
	padding: 0.5em;
	border: 2px solid #D3D3D3;
	border-bottom: 3px solid #FFFFFF;
}
.select_tab>a[href]{
	border-bottom:2px solid #D3D3D3;
}

/*base_table*/
.base_table{
	width:90%;
	table-layout: fixed;  
	word-wrap: break-word;
	word-break: normal;
	border-right: 2px solid #D3D3D3;
	border-bottom: 2px solid #D3D3D3;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}
.base_table *{
	vertical-align:middle;
}
.base_table td,.base_table th{
	border-left: 2px solid #D3D3D3;
	border-top: 2px solid #D3D3D3;
}
.base_table tr>th:first-child{
	width: 45%;
}
.base_table img{
	width:40%;
}
.base_table button{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*cart_form*/
.cart_form{
	text-align: center;
	margin: 2em;
}
.cart_form input{
	font-size: 1em;
	height: 2em;
	width: 4em;
	margin-left: 1em;
}

/*wea_in_search*/
.search{
	text-align: center;
}
.wea_in_search{
	display: inline-block;
	text-align: center;
	border: 1px solid #D3D3D3;
	width:15%;
	min-width: 6em;
	margin: 0.25em auto;
}
.wea_in_search img{
	width: 95%;
	border: 1px solid #D3D3D3;
	margin-top: 2px;
}
.wea_in_search p{
	font-size: 0.9em;
	text-align: right;
	padding: 0.4em;
	margin: 0;
}
.wea_in_search:hover{
	text-decoration:none;
	border: 1px solid #A0A0A0;
}

/*weainfo*/
.weainfo{
	font-size: 1.5em;
	border: 1px solid #D3D3D3;
}
.weainfo>*{
	display: inline-block;
	vertical-align: middle;
}
.weainfo p{
	margin: 2em;
}
.weainfo>img{
	float:right;
	height: 10em;
	margin: 0.5em;
}

/*buy_form*/
.buy_form{
	text-align: right;
	padding: 1em 2em;
	border: 1px solid #D3D3D3;
	margin-top: 1em;
}
.buy_form input,.buy_form button{
	font-size: 1em;
}
.buy_form span{
	border: 1px solid #D3D3D3;
	padding: 0.1em 0.4em;
	cursor:pointer;
}
.buy_form span:active{
	background-color: #D3D3D3;
}
.buy_form>p>*{
	vertical-align: middle;
}

/*weadescr*/
.weadescr{
	padding: 1em 2em;
	border: 1px solid #D3D3D3;
	margin-top: 1em;
	margin-bottom: 2em;
}
.weadescr>pre{
	font-size: 16px;
	line-height: 1.5em;
	word-wrap: break-word;
}

/*wea_in_supsearch*/
.wea_in_supsearch{
	border: 1px solid #D3D3D3;
	position:relative;  
	margin-bottom: 1em; 
}
.wea_in_supsearch>*{
	vertical-align: middle;
	display: inline-block;
}
.wea_in_supsearch>img{
	width: 18%;
	min-width: 7em;
}
.edit_button{
	position:absolute;  
    right:0px;  
    top:0px;
    bottom: 0px;
    width: 5em;
}
.edit_button>a{
	display: block;
	width: 100%;
	height: 50%;
}
.edit_button>a>button{
	font-size: 1em;
	height: 100%;
	width: 100%;
}